@font-face {
  font-family: "Open Sans";
  src: url("../assets/fonts/Open_Sans/OpenSans-VariableFont.ttf")
    format("truetype");
}
body,
html {
  height: auto;
  font-family: "Open Sans";
}
html {
  position: relative;
}

.container {
  flex: 1;
  background-color: #f8f9fa;
  height: auto;
}
.infor {
  font-size: 15.4px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #8888;
  background-color: white;
  border-bottom: 1px solid #a7b1c2;
}
.container .task {
  color: #888;
  background-color: #ffff;
  padding: 15px;
  height: 90px;
}
.container .task p:nth-child(1) {
  font-size: 24px;
  margin-bottom: 5px;
}
.content {
  margin: 25px 15px;
  background-color: #ffff;
  height: auto;
}
.recip p {
  padding-left: 25px;
  color: #676a6c;
}
.recip p:nth-child(1) {
  padding-top: 20px;
  font-size: 20px;
}
.search {
  display: flex;
  gap: 10px;
  padding: 20px;
}
.search_food {
  height: 34px;
  flex: 2;
}

.search input {
  padding: 8px 13px;
  font-size: 13px;
  border: 1px solid #e5e6e7;
  border-radius: 1px;
}
.search_food .custom_input {
  display: flex;
  align-items: center;
  justify-content: center;
}
.search_food .custom_input img {
  width: 36px;
  height: 34px;
  border: 1px solid #676a6c;
}
.custom_input button {
  border: none;
  text-align: center;
  display: flex;
  justify-content: center;
}
.custom_input button img {
  padding: 8px;
}
.food_child {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  padding: 20px;
}
.child {
  display: flex;
  border: 1px solid #8888;
  border-radius: 5px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  color: #676a6c;
  padding: 10px;
}
.child .text p:nth-child(1) {
  font-weight: bold;
}
table {
  color: #282828;
  width: 100%;
  border-collapse: collapse;
  table-layout: auto;
}
th {
  color: #8888;
  font-weight: 400;
  font-size: 11px;
  padding-right: 76px;
  text-align: left;
}
td {
  text-align: left;
  font-size: 11px;
  font-weight: 600;
}

.page {
  display: flex;
  justify-content: end;
  margin: 20px;
}
.list_page {
  display: flex;
  gap: 5px;
}
#pageNumbers {
  display: flex;
  gap: 5px;
}
.page button {
  padding: 7.5px 10px;
  border: none;
}
.creat_food {
  margin: 10px 20px;
  border: 1px solid #8888;
  padding: 15px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  margin-top: 0;
}
.creat_food img {
  margin-right: 18px;
}
